@model Demo_Redline_ASPMVC.WebApp.Models.MemberRegister

@{
    ViewBag.Title = "Register";
}

<h2>Création d'un compte</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
   @Html.ValidationMessage("Account", new { @class = "text-danger" })
   <hr />
   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   <div class="form-group">
      @Html.LabelFor(model => model.Pseudo, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Pseudo, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Pseudo, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="form-group">
      @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="form-group">
      @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="form-group">
      @Html.LabelFor(model => model.PasswordConfirme, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.PasswordConfirme, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.PasswordConfirme, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
         <input type="submit" value="Créer son compte" class="btn btn-default" />
      </div>
   </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
